// Navigation Styles here

nav {
    .flexBox(space-between, center);
    div{
        width: 49%;
        .flexBox(space-evenly, center);
        a{
            text-decoration: none;
            color: @font-color;
            font-size: 1.6rem;
        }
    }
    margin: 3% 0;

}