// Navigation Styles here
.nav-container{
    .flexBox(center, center, row);
    width: 100%;
    border-bottom: 2px dashed @navigation-border;
}
nav {
    .flexBox(space-between, center, row);
    
    width: 50%;
    @media @mobile {
        width: 80%;
    }
    div{
        width: 49%;
        .flexBox(space-evenly, center, row);
        a{
            text-decoration: none;
            color: @font-color;
            font-size: 1.6rem;
        }//this ends the a tag
    }//this ends the div
    margin: 2% 0 0% 0;
    padding-bottom: 2%;
    @media @mobile {
        .flexBox(center, center, column);
        h1{
            margin-bottom: 2%;
        }
        div{
            width: 90%;
        }
    }
}//this ends the nav